# =========================
# 基本：全部無視
# =========================
*

# =========================
# 必要なフォルダだけ許可
# =========================
!Content/
!Content/VFX_Material_Library/
!images/

# サブフォルダも許可
!Content/VFX_Material_Library/**/

# =========================
# 必要なファイルだけ許可
# =========================
!Content/VFX_Material_Library/**/*.uasset
!Content/VFX_Material_Library/**/*.umap
!images/*.png

# =========================
# 除外したいフォルダ
# =========================
Content/VFX_Material_Library/_Ignore/
