# =========================
# 基本：全部無視
# =========================
*

# =========================
# 必要なフォルダだけ許可
# =========================
!Content/
!Content/VFX_Material_Library/

# サブフォルダも許可
!Content/VFX_Material_Library/**/

# =========================
# 必要なファイルだけ許可
# =========================
!Content/VFX_Material_Library/**/*.uasset
!Content/VFX_Material_Library/**/*.umap

# =========================
# 除外したいフォルダ
# =========================
Content/VFX_Material_Library/_Ignore/

# =========================
# 念のため（保険）
# =========================
*.ptex
*.mmcr
*.psd
*.tga
*.png
*.jpg
*.jpeg
*.gif
*.blend
*.blend1
*.fbx
*.mp4
*.avif
*.webm
*.webp
*.zip
